{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Tela Inicial{% endblock %}


{% block content %}

<div class="content" id="conteudo">
    <h3>Home screen </h3>

    {% if listaturmas|length < 1 %}
    <h4> No registered classes</h4>
    {% else %}


    <br><br>
    <table class="table">
        <tr>
            <th>Class</th>
            <th>Projects</th>
            <th>Action</th>
        </tr>
        {% for turma in listaturmas %}

        <tr>
            <td> <a href="/relatorioturma?turma={{turma.nome}}">{{ turma.nome }} </a></td>
            <td> {{ turma.projetos }} </td>
            <td> <a href="/">delete</a></td>
        </tr>

        {% endfor %}

    </table>
    {% endif %}
    
    <input id="botaoturma" type="button" value="Upload file" onclick="ShowDiv()" />
    <div id="formnovaturma" style="display:none; min-width: 300px;" class="border">
    
        <form action="/" method='POST' enctype='multipart/form-data'>
            {{ form.csrf_token }}<br>
            {{ form.turma.label }}<br>{{ form.turma() }}<br><br>
            {{ form.tarefa.label }}<br>{{ form.tarefa() }}<br><br>
            {{ form.tipo_tarefa.label }}<br>{{ form.tipo_tarefa() }}<br><br>
            <span id="datalimite">{{ form.data_limite.label }}<br>{{ form.data_limite() }}<br><br></span>
            {{ form.file.label }}<br>{{ form.file() }}<br><br>
            {{ form.submit() }}
        </form>
    </div>
    <br>
    <span>{{mensagem}}</span>
    

{% endblock %}

{% block scripts %}
<script>
    function ShowDiv(){
        document.getElementById("formnovaturma").style.display = "";
        document.getElementById("botaoturma").style.display = "none";
    }

    function toggleDateField() {
        var selectValue = document.getElementById("tipotarefa").value;
        var dateField = document.getElementById("datalimite");

        if (selectValue === "projeto") {
            dateField.style.display = "block";
        } else {
            dateField.style.display = "none";
        }
    }

    document.getElementById("tipotarefa").addEventListener("change", toggleDateField);
    toggleDateField();
</script>

{% endblock %}
