{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Tela Inicial{% endblock %}


{% block content %}

<div class="content" id="conteudo">
    <h3>Home screen </h3>

    {% if listaturmas|length < 1 %}
    <h4> No registered classes</h4>
    {% else %}


    <br><br>
    <table class="table">
        <tr>
            <th>Class</th>
            <th>Projects</th>
            <th>Action</th>
        </tr>
        {% for turma in listaturmas %}

        <tr>
            <td> <a href="/relatorioturma?turma={{turma.nome}}">{{ turma.nome }} </a></td>
            <td> {{ turma.projetos }} </td>
            <td> delete </td>
        </tr>

        {% endfor %}

    </table>
    {% endif %}
    
    <input id="botaoturma" type="button" value="Upload file" onclick="ShowDiv()" />
    <div id="formnovaturma" style="display:none; min-width: 300px;" class="border">
    
        <form action="/" method='POST' enctype='multipart/form-data'>
            
            <label for="nometurma">Class name:</label><br>
            <input type="text" id="nometurma" name="nometurma"><br><br>
            {{form.hidden_tag()}}
            {{form.file()}}<br><br>
            {{form.submit()}}
        </form>
    </div>
    <br>
    <span>{{mensagem}}</span>
    

{% endblock %}

{% block scripts %}
<script>
    function ShowDiv(){
        document.getElementById("formnovaturma").style.display = "";
        document.getElementById("botaoturma").style.display = "none";
    }
</script>

{% endblock %}
