{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Relatório de Projeto{% endblock %}

{% block content %}

<div class="content" id="conteudo">
    <h3>Project Report </h3>
    <h5>Class: <a href="/relatorioturma?turma={{turma}}">{{turma}}</a></h5> 
    <h5>Project Name: {{nomeprojeto}}</h5>

    <br><br>
    
    {% if listaalunos|length < 1 %}
    <h5> {{mensagem}}</h5>
    {% else %}

    <button type="button" class="btn btn-secondary" onclick="executarMoss();">Execute Moss</button>
    <!--<button type="button" class="btn btn-secondary" onclick="verificarMoss();">Verificar Moss</button>-->
    <span id="rmoss"></span><br><br>


    <button type="button" class="btn btn-secondary" onclick="executarJplag();">Execute JPlag</button>
    <!--<button type="button" class="btn btn-secondary" onclick="verificarJplag();">Verificar Jplag</button>-->
    <span id="rjplag"></span><br><br>

    <button type="button" class="btn btn-secondary" onclick="window.location.href='/relatorioferramentas?turma={{turma}}&nomeprojeto={{nomeprojeto}}';">Details</button>
    <br><br>

    <!--Usar contextual class pra marcar os perfis de aluno-->
    <table id="alunos-turma" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr class="active">
                <th class="table-active">Student registration </th>
                <th class="table-active">Name</th>
                <th class="table-active">Group</th>
                <th class="table-active">Suspicion</th>
                <th class="table-active">Time spent</th>
                <th class="table-active">Deadline left</th>
                <th class="table-active">Grade</th>
                <th class="table-active">Moss results</th>
                <th class="table-active">Jplag results</th>
                <th class="table-active">Source code</th>
            </tr>
        </thead>
        <tbody>
            {% for elemento in listaalunos %}

            <tr>
                <th><a href="/relatorioaluno?matricula={{elemento.matricula}}&turma={{turma}}">{{ elemento.matricula }}</a></th>
                <th>{{ elemento.nome }}</th>
                <th>{{ elemento.grupo }}</th>
                <th>{{ elemento.suspeita }}</th>
                <th>{{ elemento.tempo_gasto }}</th>
                <th>{{ elemento.prazo_restante }}</th>
                {% if (elemento.nota != None) %} <th> {{ elemento.nota }}</th> {% else %} <th>-</th> {% endif %} 
                <th>{{ elemento.moss }}%</th>
                <th>{{ elemento.jplag }}%</th>
                {% if elemento.existe_codigo %} <th><a href="/codigofonte?nomeprojeto={{nomeprojeto}}&turma={{turma}}&arquivo={{elemento.matricula+".py"}}">{{ elemento.matricula+".py" }} ({{ elemento.numero_linhas}})</a></th>{% else %}<th>-</th>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}    
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>




<script>
    $(document).ready(function () {
        $('#alunos-turma').DataTable();
    });


    function executarMoss(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/runmoss?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        //xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        document.getElementById("rmoss").innerHTML = "Wait a moment"
        setTimeout(verificarMossPermanente, 5000)

/*      var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', 'google.com');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit();*/
    }

    function verificarMoss(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/vermoss?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        xhr.send();
        xhr.onreadystatechange = function(){
            if (this.status == 200){
                document.getElementById("rmoss").innerHTML = xhr.responseText;
            }
        }   
    }

    function verificarMossPermanente(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/vermoss?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        xhr.send();
        xhr.onreadystatechange = function(){
            if (this.status == 200){
                document.getElementById("rmoss").innerHTML = xhr.responseText;
            }
        }
        setTimeout(verificarMossPermanente, 5000);
        
    }

    function executarJplag(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/runjplag?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        //xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        document.getElementById("rjplag").innerHTML = "Running...";
        setTimeout(verificarJplagPermanente, 20000);
    }

    function verificarJplag(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/verjplag?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        xhr.send();
        xhr.onreadystatechange = function(){
            if (this.status == 200){
                document.getElementById("rjplag").innerHTML = xhr.responseText;
            }
        }
        
    }

    function verificarJplagPermanente(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/verjplag?nomeprojeto={{nomeprojeto}}&turma={{turma}}", true);
        xhr.send();
        xhr.onreadystatechange = function(){
            if (this.status == 200){
                document.getElementById("rjplag").innerHTML = xhr.responseText;
            }
        }
        setTimeout(verificarJplagPermanente, 10000);
        
    }

    verificarMoss()
    verificarJplag()

/*
executar moss e executar jplag
a função de verificar pega os arquivos gerados
escrever no banco de dados que já foi executado

*/



</script>


{% endblock %}
