{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Relatório do Aluno{% endblock %}

{% block content %}

<div class="content" id="conteudo">
    <h3>Student Report</h3>

    <br>
    {% if resultadosprojs|length < 1 and resultadosquests|length < 1 %}
    <h5> No data available from student {{ matricula }}</h5>
    {% else %}
    <span>{{ nome }} - {{ matricula }}</span>
    <br><br>
    {% if resultadosquests|length >= 1 %}
    <h5>Quizzes</h5>
    <table class="table">
        <tr>
            {% for resultadoquest in resultadosquests %}
            <th> {{ resultadoquest.nome_questioanario }} </th>
            {% endfor %}
        </tr>
        <tr>
            {% for resultadoquest in resultadosquests %}
            <td> {{ resultadoquest.nota_questionario }} </td>
            {% endfor %}
        </tr>
    </table>
    <br>
    {% endif %}
    {% if resultadosprojs|length >= 1 %}
    {% for resultadoproj in resultadosprojs %}
    <h5>{{ resultadoproj.nome_trabalho }}</h5>
    <table class="table">
        <tr>
            <th>Grade</th>
            <th>Suspicion</th>
            <th>Time spent</th>
            <th>Deadline left</th>
            <th>Moss result</th>
            <th>Jplag result</th>
            <th>Source code</th>
        </tr>

        <tr>
            <td> {{ resultadoproj.nota }} </td>
            <td> {{ resultadoproj.suspeita }} </td>
            <td> {{ resultadoproj.tempo_gasto }}</td>
            <td> {{ resultadoproj.prazo_restante }}</td>
            <td> {{ resultadoproj.moss }}%</td>
            <td> {{ resultadoproj.jplag }}%</td>
            {% if resultadoproj.existe_codigo %} <th><a href="/codigofonte?nomeprojeto={{resultadoproj.nome_trabalho}}&turma={{turma}}&arquivo={{matricula+".py"}}">{{ matricula+".py" }} ({{ resultadoproj.numero_linhas}})</a></th>{% else %}<th>-</th>{% endif %}
        </tr>
    </table>
    <br>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>



{% endblock %}
