{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Relatório do Aluno{% endblock %}

{% block content %}

<div class="content" id="conteudo">
    <h3>Relatório aluno - {{matricula}} </h3>

    <br><br>
    {% if resultados|length < 1 %}
    <h5> Sem dados aluno</h5>
    {% else %}

    {% for resultado in resultados %}
    <table class="table">
        <tr>
            <th>Nome Trabalho</th>
            <th>Nota</th>
            <th>Tempo Utilizado</th>
            <th>Prazo Restante</th>
            <th>Resultado Moss</th>
            <th>Resultado Jplag</th>
            <th>Código Fonte</th>
        </tr>

        <tr>
            <td> {{ resultado.nome_trabalho }}</td>
            <td> {{ resultado.nota }} </td>
            <td> {{ resultado.tempo_gasto }}</td>
            <td> {{ resultado.prazo_restante }}</td>
            <td> {{ resultado.moss }}%</td>
            <td> {{ resultado.jplag }}%</td>
            {% if resultado.existe_codigo %} <th><a href="/codigofonte?nomeprojeto={{nomeprojeto}}&turma={{turma}}&arquivo={{matricula+".py"}}">{{ matricula+".py" }} ({{ resultado.numero_linhas}})</a></th>{% else %}<th>-</th>{% endif %}
        </tr>
    </table>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>



{% endblock %}
