{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Relatório de Ferramentas{% endblock %}


{% block content %}

<div class="content" id="conteudo">
    <h3>Class Report - {{turma}} </h3>

    <br><br>
    
    {% if listaresultados|length < 1 %}
    <h5> {{mensagem}}</h5>
    {% else %}

    {% if listatrabalhos|length > 0 %}
    <span>Click for more details about the projects:</span><br><br>
    {% for trabalho in listatrabalhos %}
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/relatoriotrabalho?turma={{turma}}&nomeprojeto={{trabalho}}';">{{ trabalho }}</button>
    {% endfor %}
    <br><br>
    {% endif %}

    

    
    <input type="checkbox" id="showquest" name="showquest" value="" onclick="visaoQuest(this)" checked>
    <label for="showquest">View quiz grades</label><br>
    <input type="checkbox" id="showproj" name="showproj" value="" onclick="visaoProjs(this)" checked>
    <label for="showproj">View projects grades</label><br><br>

    <table id="alunos-turma" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr class="active">
                <th class="table-active">Student registration</th>
                <th class="table-active">Name</th>
                <th class="table-active">Group</th>
                <th class="table-active">Suspicion</th>
                {% for questionario in listaquestionarios %}   
                <th class="table-info itemQuestionario">{{ questionario }} Grade</th>
                {% endfor %}
                {% for trabalho in listatrabalhos %}   
                <th class="table-success itemProjeto">{{ trabalho }} Grade</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elemento in listaresultados %}
            <tr> 
                <th><a href="/relatorioaluno?matricula={{elemento.matricula}}&turma={{turma}}">{{ elemento.matricula }}</a></th>
                <th>{{ elemento.nome_aluno }}</th>
                <th>{{ elemento.grupo }}</th>
                <th>{{ elemento.suspeita }}</th>
                {% for i in range(tamanholistaquestionarios) %}    
                <th class="itemQuestionario" >{{ elemento.notas_questionarios[i] }}</th>
                {% endfor %}
                {% for i in range(tamanholistatrabalhos) %}    
                <th class="itemProjeto">{{ elemento.notas_trabalhos[i] }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}    
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>




<script>
    $(document).ready(function () {
        $('#alunos-turma').DataTable();
    });


    function visaoQuest(cb){
        if (cb.checked == true ){
            const itens = document.getElementsByClassName("itemQuestionario");
            for (const item of itens){
                item.style.display = ""
            }
        }
        else {
            const itens = document.getElementsByClassName("itemQuestionario");
            for (const item of itens){
                item.style.display = "none"
            }
        }
    }
    function visaoProjs(cb){
        if (cb.checked == true ){
            const itens = document.getElementsByClassName("itemProjeto");
            for (const item of itens){
                item.style.display = ""
            }
        }
        else {
            const itens = document.getElementsByClassName("itemProjeto");
            for (const item of itens){
                item.style.display = "none"
            }
        }

    }

</script>


{% endblock %}
