{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Relatório de Ferramentas{% endblock %}


{% block content %}

<div class="content" id="conteudo">
    <h3>Plagiarism Detection Tools Report</h3>
    <h5>Class: <a href="/relatorioturma?turma={{turma}}">{{turma}}</a></h5> 
    <h5>Project name: <a href="/relatoriotrabalho?turma={{turma}}&nomeprojeto={{nomeprojeto}}">{{nomeprojeto}}</a></h5>
    
    <br><br>
    
    {% if listaresultados|length < 1 %}
    <h5> {{mensagem}}</h5>
    {% else %}

    <!--
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/relatoriotrabalho?turma={{turma}}&nomeprojeto={{nomeprojeto}}';">Tela Trabalho</button>
    <br><br>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/graforelatorio?turma={{turma}}&nomeprojeto={{nomeprojeto}}&ferramenta=moss';">Grafo Moss</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/graforelatorio?turma={{turma}}&nomeprojeto={{nomeprojeto}}&ferramenta=jplag';">Grafo Jplag</button>
    -->

    <input id="botaoGrafo" type="button" value="Generate Similarity Graph" onclick="ShowDiv()" />
    <div id="formGrafo" style="display:none; min-width: 300px;" class="border">
    
    <form action="/graforelatorio" method="GET">
        <h5>Generate Similarity Graph</h5>
        <span>Recommended minimum 30% for Moss or 70% for JPlag</span><br><br>
        <label for="ferramenta">Tool:</label>
        <select name="ferramenta" id="ferramenta">
          <option value="moss">Moss</option>
          <option value="jplag">Jplag</option>
        </select>
        <br><br>
        <label for="percentual">percentage:</label><br>
        <input type="text" id="percentual" name="percentual">%
        <br><br>
        <input type="hidden" id="turma" name="turma" value="{{turma}}" />
        <input type="hidden" id="nomeprojeto" name="nomeprojeto" value="{{nomeprojeto}}" />
        <input type="submit" value="Run">
      </form>
      <br>
    </div>
    <br><br>

    <!--Usar contextual class pra marcar os perfis de aluno-->
    <table id="alunos-turma" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr class="active">
                <th class="table-success">Registration</th>
                <th class="table-success">Name</th>
                <!-- <th class="table-success">Group</th> -->
                <th class="table-success">Grade</th>
                <th class="table-success">Moss</th>
                <th class="table-success">Jplag</th>
                <th class="table-info">Jplag</th>
                <th class="table-info">Moss</th>
                <th class="table-info">Grade</th>
                <!-- <th class="table-info">Group</th> -->
                <th class="table-info">Name</th>
                <th class="table-info">Registration</th>
            </tr>
        </thead>
        <tbody>
            {% for elemento in listaresultados %}

            <tr>
                <th>{{ elemento.matricula1 }}</th>
                <th>{{ elemento.nome1 }}</th>
                <!-- <th>{{ elemento.grupo1 }}</th> -->
                {% if (elemento.nota1 != None) %} <th> {{ elemento.nota1 }}</th> {% else %} <th>-</th> {% endif %} 
                <th>{{ elemento.moss1 }}%</th>
                <th>{{ elemento.jplag1 }}%</th>
                <th>{{ elemento.jplag2 }}%</th>
                <th>{{ elemento.moss2 }}%</th>
                {% if (elemento.nota2 != None) %} <th> {{ elemento.nota2 }}</th> {% else %} <th>-</th> {% endif %} 
                <!-- <th>{{ elemento.grupo2 }}</th>-->
                <th>{{ elemento.nome2 }}</th>
                <th>{{ elemento.matricula2 }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}    
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>




<script>
    $(document).ready(function () {
        $('#alunos-turma').DataTable();
    });


    function ShowDiv(){
        document.getElementById("formGrafo").style.display = "";
        document.getElementById("botaoGrafo").style.display = "none";
        
    }
</script>


{% endblock %}
